@import "./styles/aurora.css";
@import "./styles/layout.css";
@import "./styles/components.css";

html, body {
  background: var(--color-bg);
  color: var(--color-text);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
